body {
    margin: 0;
    padding: 0;
    color: rgb(112, 172, 214);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
